hello WV. Would you like to learn to code?

<form action="/code" method="post">
	<input type="radio" name="choice" value="yes">Yes<br>
	<input type="radio" name="choice" value="no">No<br>
	<input type="submit">
</form>
