hello Brian and Judith! Would you like to learn to code?

<form action="/code" method="post">
	<input type="radio" name="choice" value="yes">Yes
	<input type="radio" name="choice" value="no">No
	<input type="submit">
</form>